.footer {
  padding: 2rem 2rem;
  background-color: color(primary);

  &-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;

    @include response(md) {
      grid-template-columns: 1fr;
    }

    h4 {
      font-size: size(md);
      color: color(white);
      margin-bottom: 1rem;
    }

    li {
      margin-bottom: 1.5rem;
    }

    a {
      color: color(white);
      font-size: size(sm);

      &:hover {
        border-bottom: 0.1rem solid color(white);
      }
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    img {
      width: 6rem;
    }

    p {
      color: color(white);
      font-size: size(sm);
      margin: 2rem 2rem;
    }

    .bottom-links {
      a {
        color: color(white);
        font-size: size(lg);
        margin-right: 4rem;
        transition: color 0.3s ease;

        &:hover {
          color: darken(color(white), 10%);
        }
      }
    }
  }
}
