.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/hero.jpg) center center/cover no-repeat fixed;
  height: 100vh;
  position: relative;

  &-content {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);

    h1 {
      @include headingStyles();
      color: color(white);
      font-size: size(xl) + 2rem;
    }

    p {
      @include textStyles();
      color: color(white);
      font-size: size(xl);
      margin: 2rem 0;
    }

    img {
      width: 20rem;
    }
  }
}
