.header {
  background-color: color(black);

  .navigation {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;

    @include response(lg) {
      justify-content: center;
    }

    img {
      width: 5rem;
    }

    .links a {
      color: color(white);
      font-size: size(sm);
      margin-right: 2rem;
      transition: color 0.3s ease;

      @include response(lg) {
        display: none;
      }

      &:hover {
        color: color(primary);
      }
    }
  }

  .navigation-right {
    position: relative;

    @include response(lg) {
      display: none;
    }

    input {
      padding: 0.7rem;
      font-size: size(xs);
      border: 0;
      outline: 0;
      background-color: transparent;
      border-bottom: 0.3rem solid color(primary);
      color: color(white);
    }

    a i {
      color: color(white);
      font-size: size(sm);
      margin-right: 2rem;
      transition: color 0.3s ease;
      position: absolute;
      top: 0.5rem;
      right: 0.1rem;

      &:hover {
        color: color(primary);
      }
    }
  }
}
