.btn-dark {
  padding: 0.7rem;
  font-size: size(xs);
  background-color: color(black);
  color: color(white);
  width: 30%;
  border: 0.1rem solid color(primary);
  transition: all 0.3s ease;

  &:hover {
    color: color(white);
    background-color: color(primary);
    border: 0.1rem solid color(white);
  }
}
