.btn-dark {
  padding: 1.3rem;
  font-size: size(xs);
  background-color: color(black);
  color: color(white);
  width: 20rem;
  border: 0.1rem solid color(primary);
  transition: all 0.3s ease;

  &:hover {
    color: color(white);
    background-color: color(primary);
    border: 0.1rem solid color(white);
  }
}

.btn-light {
  @extend .btn-dark;

  background-color: color(primary);
  width: 20rem;

  &:hover {
    background-color: color(black);
    border: 0.1rem solid color(primary);
  }
}
